/* common style Start */
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}
.btn{
    font-size: 15px;
    background: #E55473;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0;
    color: white;
}

/* common style End */

/* banner style Start */
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    padding: 20px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-weight: 800;
    font-size: 35px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
}
.banner-img{
    width: 450px;

}
.banner-content{
    max-width: 50%;
}
/* banner style End */

/* Our Flowers ColLection style Start */
.flower-are{
    margin-top: 80px;
    text-align: center;
}
.flower-title p{
    color: rgba(39, 39, 39, 0.60);
    max-width: 50%;
    margin: auto;
}
.img-container{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
}
.singel-img-1 img{
    width: 200px;
    padding: 60px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.singel-img-2 img{
    width: 200px;
    padding: 60px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.singel-img-3 img{
    width: 200px;
    padding: 60px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.text-line{
    text-decoration-line: underline;
}
/* Our Flowers ColLection style End */

/*  Hot Deal style Start  */

.hot-deal{
    background: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    display: flex;
    align-items: center;
    text-align: center;

}
.hot-deal-img{
    width: 200px ;
    padding-bottom: 30px;
    padding-top: 30px;
}
.hot-deal-content{
    padding-left: 50px;
}
.hot-deal-content p{
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}
.pink-txt{
    color: #E55473;
}
/*  Hot Deal style End  */

/* Seasonal flowers style start */
.flower-content{
    padding-top: 40px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.flower-content p{
    color: rgba(39, 39, 39, 0.60);
}
.all-flower{
    padding-top: 20px;
    display:flex;
    gap: 20px;
    justify-content: center;
   
}
.flower-img img{
    width: 250px;

}
/* Seasonal flowers style End */

/*  Flowers video style Start  */
.video-container{
    margin-top: 80px;
    margin-bottom: 80px;
    background: rgba(229, 84, 115, 0.05); 
}
.video{
    padding: 50px;
  
}
.video-content{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.video-title p{
    color:rgba(39, 39, 39, 0.60) ;
}
/*  Subscribe section style start  */
.sub-container input{
    padding: 15px 80px;
    border-radius: 8px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
}
.sub-container{
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 80%;
    border-radius: 8px;
    margin: auto;
      
}
.sub-content{
   text-align: center;
   padding: 80px 0;

}
.sub-content p{
    color: rgba(39, 39, 39, 0.60);
}
.em-input{
    margin-right: 5px;
    color: rgb(255, 255, 255);
}

/*  Subscribe section style End  */